<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('style') -%>
</head>
<body>
    <div class="container">
        <h1>Add UEFA </h1>
        <form method="Post">
            <input type="text" name="name" placeholder="Enter the Title"/><br/>
            <textarea name="body" id="" placeholder="Write Details" cols="30" rows="10"></textarea>
            <br/>
            <input type="text" name="user" placeholder="User id"><br/>
            <input type="text" name="date" placeholder="Enter the Date and Time" /><br/>
            <input type="submit" value="POST"/>
        </form>
    </div>
</body>
</html>